$white: #fff;
$black: #000;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$blue-0: #0c2d48;
$blue-1: #145da0;
$blue-2: #2e8bc0;
$blue-3: #b1d4e0;
