.cc {
  height: 100vh;

  .cc__card {
    // padding: 9.375rem 18.75rem;

    .cc__card__body {
      padding: 32px;

      .cc__card__body__title {
        margin-bottom: 5rem;
        color: #0c2d48;
      }
    }
  }
}
