@import "../styles/variables.scss";

.cc {
  height: 100vh;

  &__card {
    padding-inline: 6.25rem;
    padding-block: 6.25rem;
    border-radius: 24px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);

    &__body {
      &__title {
        margin-bottom: 4rem;
        color: $blue-0;
      }

      &__form {
        &__grid {
          display: grid;
          gap: 0.25rem 1rem;
          grid-auto-flow: column;
          grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) auto minmax(
              100px,
              1fr
            );
          grid-template-rows: auto [input-row-start] auto;

          &__label {
            font-weight: bold;
            color: $blue-0;
          }

          &__hold {
            padding: 0.5rem;
            border: none;
            border-radius: 6px;
            outline: 2px solid #ced4da;

            &:hover {
              border: none;
              outline: 2px solid $gray-500;
            }

            &__inputselect {
              padding: 2px 0 0;
              border: none;
              outline: none;
              font-weight: bold;
              color: $blue-0;
              background-color: $white;

              &:active,
              &:focus,
              &:focus-within,
              &:focus-visible,
              &:hover,
              &:target,
              &:visited {
                border: none;
                outline: none;
              }
            }

            &__prefix {
              padding: 0 0.375rem 0 0.25rem;
              color: $gray-500;
            }
          }

          &__button {
            height: 3.125rem;
            width: 3.125rem;
            margin: auto;
            padding: 0.5rem;
            border-radius: 50%;
            font-weight: 200;
            letter-spacing: 1px;
            text-align: center;
            border: none;
            outline: 2px solid #ced4da;
            box-shadow: 0px 0px 19px -12px rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 0px 0px 19px -12px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0px 0px 19px -12px rgba(0, 0, 0, 0.5);
            background-color: $white;

            &:focus {
              outline: 2px solid #ced4da;
              background-color: $white;
            }

            &:hover {
              border: none;
              outline: 2px solid $gray-500;
              background-color: $white;
            }

            i {
              &.bi {
                color: $blue-0;
              }
            }

            &:active {
              i:before {
                animation: flip 0.2s 1 linear;
              }
            }

            @keyframes flip {
              0% {
                transform: rotateY(0deg);
              }

              50% {
                transform: rotateY(180deg);
              }

              to {
                transform: rotateY(0deg);
              }
            }
          }
        }

        &__button {
          &__btn {
            width: 15%;
            height: 3.125rem;
            font-size: 1.125rem;
            font-weight: bold;
            border: none;
            border-radius: 6px;
            transition: 0.2s;
            color: $white;
            background-color: $blue-0;

            &:hover {
              transition: 0.2s;
              color: $blue-0;
              background-color: $blue-3;

              border: none;
            }
          }
        }
      }
    }
  }
}
