@import "styles/mixins";
@import "styles/variables";
@import "styles/loading";
@import "bootstrap/scss/bootstrap";

html,
body {
  background: linear-gradient(top, $blue-0 50%, $blue-3 50%);
  background: linear-gradient(top, $blue-0 50%, $blue-3 50%);
  background: linear-gradient(to bottom, $blue-0 50%, $blue-3 50%);
  -webkit-font-smoothing: antialiased;

  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body,
main {
  height: 100vh;
}

body,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: bold;
}
